# Lecture 13
# Time Series
This notebook is a *script* to help you follow Lecture 13 on Time Series.  
All the code in that notebook is included here.

## datetime

In [ ]:
from datetime import datetime
datetime.now()

In [ ]:
datetime(2018, 1, 7)

In [ ]:
datetime(2018, 1, 7, 13, 30)

In [ ]:
d = datetime.now()
print(d.year)
print(d.month)
print(d.day)
print(d.hour)
print(d.minute)
print(d.second)
print(d.microsecond)

In [ ]:
d.date()

In [ ]:
d.time()

In [ ]:
print(type(d))
print(type(d.date()))
print(type(d.time()))

In [ ]:
d1 = datetime(2018, 1, 7, 11, 15)
d2 = datetime(2018, 2, 15, 11, 35)
diff = d2 - d1
diff.days, diff.seconds

In [ ]:
help(diff)

In [ ]:
from datetime import timedelta
d1 + timedelta(3)

In [ ]:
d1 + timedelta(0,60)

### Dates to Strings

In [ ]:
print(d.strftime('%d/%m/%y'))
print(d.strftime('%Y-%m-%d'))
print(d.strftime('%H:%M:%S'))
print(d.strftime('%Y-%m-%d %H:%M'))
print(d.strftime('%d %B %Y'))
print(d.strftime('%a %d %Y'))

### Strings to Dates

In [ ]:
s = "18-01-03"
datetime.strptime(s, '%y-%m-%d')

In [ ]:
s = "01/03/2018"
datetime.strptime(s, '%d/%m/%Y')

In [ ]:
s = "01/03/18 14:56"
datetime.strptime(s, '%d/%m/%y %H:%M')

### Pandas Timestamp

In [ ]:
import pandas as pd
pd.Timestamp(2018, 5, 1)

In [ ]:
pd.Timestamp("1 May 18")

In [ ]:
pd.Timestamp(datetime(2018, 5, 1))

In [ ]:
pd.Timestamp("1st May 2018")

In [ ]:
d = pd.Timestamp(2018, 5, 1)
d.day, d.month, d.year

In [ ]:
d = pd.Timestamp(2018, 5, 1, 18, 35)
d.hour, d.minute, d.second

In [ ]:
pd.date_range('1/5/2018', periods=7, freq='D')

In [ ]:
pd.date_range('1/5/2018 10:25:00', periods=6, freq='4H')

## Time Series in Pandas

In [ ]:
%matplotlib inline 
from datetime import datetime
import numpy as np
dates = []
for i in range(30):
    d = datetime(2018, 4, i+1)
    dates.append( d )
values = np.random.random(30)

In [ ]:
ts = pd.Series(values, index=dates)
ts

In [ ]:
ts.plot()

In [ ]:
dates = pd.date_range('01 Jan 2017', periods=365, freq='D')
values = np.random.random(365)
ts = pd.Series(values, index=dates)
ts.head()

In [ ]:
ts["2017-01-01"]

In [ ]:
ts["2017-01-04":"2017-01-07"]

In [ ]:
ts["June 2017"]

In [ ]:
ts["2017"]

In [ ]:
%matplotlib inline 
ts = pd.read_csv("stock-google-close.csv", index_col="Date", parse_dates=True)
ts.head()
ts.plot(figsize=(15,6),fontsize=14)

In [ ]:
type(ts)

In [ ]:
ts = pd.read_csv("stock-google.csv", index_col="Date", parse_dates=True)
ts.head()
ts["2013-08"].plot(figsize=(13,6),fontsize=13)

In [ ]:
ts.shape

## Resampling

In [ ]:
ts.resample("M").mean()

In [ ]:
qts = ts.resample("Q").mean()
qts.head()

In [ ]:
qts['Close'].plot()

In [ ]:
ts_year = ts.groupby(ts.index.year).sum()
ts_year.head()

In [ ]:
ts_year.plot()

## Rolling Averages

In [ ]:
df = pd.read_csv("stock-google-close.csv", index_col="Date", parse_dates=True)
rm3 = df.Close.rolling(3).mean()

In [ ]:
df.plot()

In [ ]:
rm3.plot()

In [ ]:
rm30 = df.Close.rolling(30).mean()
rm30.plot()